*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5bdbe9;
}
.grand-parent{
    border:2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color:#11394d;
}
.image{
    position: relative;
    padding-left: 65px;
    padding-bottom: 20px;
}
.image-1{
    border-radius: 10px;
    border: #2A2A2A;
}
.container{
    width: 450px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    border-radius: 50px;
    background-color:#425067;

}
.bar-parent{
    position: relative;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: black;
}
.bars{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.child{
    width: 5px;
    height: 20px;
    background-color:#16909e;
    margin: 1.5px;
    border-radius: 2px;
    border: 1px solid black;
}

.child-1,.child-4,.child-7{
    transition: all 2s ease;
    animation-name: a;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.child-3,.child-6,.child-9{
    transition: all 2s ease;
    animation-name: b;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.child-2,.child-5,.child-8{
    transition: all 2s ease;
    animation-name: c;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
}

@keyframes a {
     0%{
        transform: scaleY(1);
     }
     50%{
        transform: scaleY(3);
     }
     100%{
        transform: scaleY(1);
     }
}
@keyframes b {
     0%{
        transform: scaleY(3);
     }
     50%{
        transform: scaleY(1);
     }
     100%{
        transform: scaleY(3);
     }
}
@keyframes c {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(3);
    }
    100%{
        transform: scaleY(1);
    }
} 

.song{
    width: 200px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manasa{
    color: #FFFFFF;
    font-size: 40px;
}
.artist{
    color: #6B7280;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}